#zhuti{
    border: 1px solid coral;
    height: 100%;
    width: 100%;
}
#dimg1{
    float: left;
    width: 33%;
}
#dimg{
    width: 33%;
    float: left;
}
#dl{
    border: 1px solid coral;
    width: 200px;
    float: right;
    height: 25px;
    margin-top: 15px;
    font-size: 16px;
}
#dh{
    border: 1px solid coral;
    width: 100%;
    float: left;
    height: 40px;
    padding-top: 5px;
    background-color: #5e5e5e;
}
#serch{
    float: right;
}
#gdt{
    border: 1px solid coral;
    width: 100%;
    float: left;
    height: 400px;
}
.rmsp{
    border: 1px solid coral;
    width: 100%;
    float: left;
}
.rm{
    border: 1px solid #fffe35;
    float: left;
    width: 1333px;
    height: 482px;
}
.img_left{
    float: left;
}
.img2{
    float: left;
    padding-top: 30px;
}
.left{
    border: 1px solid coral;
    width: 224px;
    float: left;
    height: 482px;
}
.right{
    width: 1123px;
    border: 1px solid #1033ff;
    margin-left: 210px;
}
.two{
    width: 1105px;
    border: 1px solid coral;
    float: left;
}
.s1{
    border: 1px solid coral;
    float: left;
    height:218px;
    width: 182px;
    padding-top: 20px;
}
.s2{
    border: 1px solid coral;
    float: left;
    height:238px;
    width: 552px;
}
.s3{
    border: 1px solid coral;
    float: left;
    width: 182px;
    height:240px;
    padding-top: 20px;
}
.zjlg{
    border: 1px solid coral;
    float: left;
    width: 100%;
    height: 120px;
}
